<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet/css" href="index.css" />
    <title>Pizza Spot</title>
  </head>
  <body style="background-color:black;">
    <nav
      class="navbar navbar-expand-lg "
    >
      <div class="container">
        <a class="navbar-brand" href="#" style="color:  white;">YoYo Pizza</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color:  white;">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutus" style="color:  white;">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#chatus" style="color:  white;">Chat with Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contactus" style="color:  white;">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img
            src="../static/pizzahome.jpg"
            class="d-block w-100"
            style="height: 700px;"
          />
          <div
            class="carousel-caption d-none d-md-block"
            style="bottom: 200px;"
          >
            <h5 style="font-size: 100px;">YoYo Pizza</h5>
            <p>Taste a World class Pizza's at Chennai</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row bd-highlight justify-content-center mb-3">
      <div class="p-2 bd-highlight">
        <div class="card" style="width: 18rem; background-color: black;">
          <h3 style="color: white;">Pizza-Mania</h3>
          <img
            class="card-img-top"
            src="../static/card1.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text" style="color: white;">
              Indulge into mouth-watering taste of Pizza mania range, perfect
              answer to all your food cravings
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="card" style="width: 18rem; background-color: black;">
          <h3 style="color: white;">Non-Veg Pizza</h3>
          <img
            class="card-img-top"
            src="../static/card2.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text" style="color: white;">
              Choose your favourite non-veg pizzas from the Domino's Pizza menu.
              Get fresh non-veg pizza with your choice of crusts & toppings
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="card" style="width: 18rem; background-color: black; ">
          <h3 style="color: white;">Veg Pizza</h3>
          <img
            class="card-img-top"
            src="../static/card3.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text" style="color: white;">
              A delight for veggie lovers! Choose from our wide range of
              delicious vegetarian pizzas, it's softer and tastier
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id = "aboutus" style="margin-left: 75px;">
      <div class="about-us" style="color:white; width:50%">
        <h1>YoYo Spot: Delivering Happiness</h1>
        <p>
         YoYo Pizza: Delivering Happiness What’s better than having a
          crispy melty pizza, you ask?<br /><br />
          Having that crispy and melty pizza in the comfort of your own home
          with the ones you love, we say.<br /><br />
          With Domino's it is always “Rishton ka time”. Whether it's a treat for
          your promotion, a kid topping his class or winning the heart of your
          wife who is too tired to cook after a long day at work! A cheesy slice
          of the best pizza is all one needs to put things into perspective and
          start any celebration. Plus, you do not even need to rush to the
          restaurant to have one now. A call, a few clicks on our website or a
          few touches on the mobile screen is all you have to do to have that
          tempting, light-on-the-pocket pizza at your doorstep. <br /><br />
          There is something for everyone here. The vegetarians,
          non-vegetarians, the sides’ lovers and also the ones who love to have
          something sweet by the time they reach the last bite of the last slice
          of pizza slice.
        </p>
      </div>
    </div>

    <div id="chatus" style="margin-top: 50px; margin-right: 250px; margin-left: 250px;">
      <h3 style="color: white;">Chat with us:</h3>
    <div class="alert alert-secondary" role="alert" style="margin-top: 50px; margin-right: 250px; margin-left: 350px;">
      You: {{user_input}}
    </div> 
    <div class="alert alert-danger" role="alert" style="margin-top: 50px; margin-right: 250px; margin-left: 250px;">
      Bot: {{bot_response}}
   </div>
    <form action='/chat' method="POST">
      <div class="form-group" style="margin-top: 50px; margin-right: 250px; margin-left: 250px;">
        <input
          type="text"
          name = "user_input"
          class="form-control"
          placeholder="You:"
        />
        <br><br>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>

    </div>

    <hr />
    <div class="mt-5 pt-5 pb-5 footer" id="contactus">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-xs-12 about-company" style="color:white">
            <h2>Disclaimer</h2>
            <p class="pr-5 text-white-50">
              Food shown are for illustration purpose only. Actual product may
              differ from the images shown in this website. Our menu prices are
              now inclusive of GST.* The YoYo Pizza name, logos, and related
              marks are trademarks of Pizza Spot, Inc. All chicken products
              contain Monosodium Glutamate. Not recommended for infants below 12
              months.
            </p>
          </div>
          <div class="col-lg-3 col-xs-12 links" style="color:white">
            <h4 class="mt-lg-0 mt-sm-3">find us on</h4>

            <a class="btn btn-social-icon btn-facebook">
              <span class="fa fa-facebook"></span>
            </a>
            <a class="btn btn-social-icon btn-yahoo">
              <span class="fa fa-yahoo"></span>
            </a>
            <a class="btn btn-social-icon btn-twitter">
              <span class="fa fa-twitter"></span>
            </a>
            <a class="btn btn-social-icon btn-twitter">
              <span class="fa fa-google"></span>
            </a>
          </div>
          <div class="col-lg-4 col-xs-12 location" style="color:white">
            <h4 class="mt-lg-0 mt-sm-4">Location</h4>
            <p>22,Pycrofts road, Triplicane, Chennai - 24</p>
            <p class="mb-0"><i class="fa fa-phone mr-3"></i>+91 987 654 1254</p>
            <p><i class="fa fa-envelope-o mr-3"></i>info@yoyopizza.com</p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col copyright">
            <p class="">
              <small class="text-white-50">© 2020. All Rights Reserved.</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
